extends layout

block content
	style.
	.menu#main_menu(v-cloak)
		.notice-list
			ul
				li(onclick="location.href='/users/note'")
					i 13:35
					h1 服务通知
					time 8月29日
					h5 骚扰电话拦截
					h4 标题：防骚扰平台
					h4 日期：2018-08-28 13:33
					h4 拦截一通来电,类型:广告推销，被标记31次
					h4 号码:0571-44444444
					p 详情
						a.select-more.iconfont(href='/users/note') &#xe654;
				li(onclick="location.href='/users/note'")
					i 17:27
					h1 服务通知
					time 8月29日
					h5 诈骗电话拦截
					h4 标题：防骚扰平台
					h4 日期：2018-08-28 17:21
					h4 拦截一通来电,类型:电信诈骗，被标记73次
					h4 号码:18313133131
					p 详情
						a.select-more.iconfont(href='/users/note') &#xe654;

		ul
			li(v-for='obj,i in menu')
				a(v-if='!obj.value',@click='show_index=show_index!=i?i:-1') {{obj.name}}
				a(v-if='obj.value',@click='show_index=-1',v-bind:href='obj.value') {{obj.name}}
				ul(v-if='obj.list && show_index==i')
					li(v-for='obj2 in obj.list')
						a(v-bind:href='obj2.value') {{obj2.name}}
	script.
		var vapp=new Vue({
			el:'#main_menu',
			data:{
				show_index:-1,
				menu:[
					{
						name:'接听意愿',
						list:[
							{name:'拦截种类',value:'/setting/type'},
							{name:'拦截号段',value:'/setting/special'},
							{name:'拦截号码',value:'/setting/rosterlist'},
							{name:'拦截时间',value:'/setting/datetime'},
							{name:'拦截模式',value:'/setting/mode'},
							{name:'拦截通知',value:'/setting/notice'}
						]
					},
					{
						name:'个人管理',
						list:[
							{name:'我的',value:'/users/'},
							{name:'号码标记',value:'/report/'},
							{name:'拦截记录',value:'/users/note'}
						]
					},
					{
						name:"信息管理",
						list:[
							{name:'公众号介绍',value:''},
							{name:'行业信息',value:''},
							{name:'相关新闻',value:''},
						]
					}
				]
			}
		})
		axios.get('http://127.0.0.1:8080/nahiisp-user/login',{
			j_username: '18758587990',
			j_password: '782b7222e23ee62ddeafae44195ff4cf'
		}).then(function(res){

		})
