extends layout

block content
	script.
		if(localStorage.user){
			location.href='/';
		}
	article#register(v-cloak)

		h5 用户绑定
		.form
			p
				label 手机号码
				input.xxxl-txt(type='text',placeholder='请填写要您的手机号码',v-model='tel')
			p
				label 密码
				input.xxxl-txt(type='password',placeholder='请输入密码',v-model='pwd')
			//- p
			//- 	label 短信验证码
			//- 	input.xxxl-txt(type='text',placeholder='请填写验证码')
			//- 	input.btn(@click='post_code',type='button',value="发送验证码",v-if='post_time==0')
			//- 	input.btn(type='button',v-bind:value='"重新发送("+post_time+")"',v-if='post_time')
			div
				button(@click='register') 绑定手机
			input#backurl(type="hidden",value='#{url}')
	script var next_url='!{url}'
	script(src='/js/register.js?v=#{_v}')

				