extends layout

block content
	article#roster(v-cloak,style="background-color:#F7F7F7;")
		.rose-banner(v-bind:class="[type==1?'rose-w':'']")
		.rose-table
			ul
				li(v-for="obj in roster_list")
					h5
						label {{obj.content}}
						span {{obj.createTime}}
					button(@click="delete_confirm(obj)") 删除
		.rose-button
			button(@click='is_add=true') 添加
		.alert-layer(v-if='is_add')
			.alert-add.l-alert.alert-roster
				if(type==1)
					h4 输入想接的电话
				if(type==-1)
					h4 输入不想接的电话
				ul
					li
						label 固话
						a.choose(v-bind:class="[add_obj.type==1?'choose-c':'']",@click='add_obj.type=1')
							i
						.alert-rose-input(v-bind:style="{'border-color':add_obj.type==1?'#008DE6':''}")
							input.m-txt(placeholder='区号',type='text',v-model='add_obj.tel1',@focus="add_obj.type=1")
							b.text-line —
							input.l-txt(placeholder="电话号码",type='text',v-model='add_obj.tel2',@focus="add_obj.type=1")

					li
						label 手机
						a.choose(v-bind:class="[add_obj.type==2?'choose-c':'']",@click='add_obj.type=2')
							i
						.alert-rose-input(v-bind:style="{'border-color':add_obj.type==2?'#008DE6':''}")
							input.xl-txt(placeholder="11位手机号码",type='text',v-model='add_obj.tel3',@focus="add_obj.type=2")
					li
						label 其他
						a.choose(v-bind:class="[add_obj.type==3?'choose-c':'']",@click='add_obj.type=3')
							i
						.alert-rose-input(v-bind:style="{'border-color':add_obj.type==3?'#008DE6':''}")
							input.xl-txt(placeholder="其他格式号码",type='text',v-model='add_obj.tel4',@focus="add_obj.type=3")
				//br
				//ul
					li
						label 备注
						input.xxl-txt(placeholder="请输入备注内容,如电话销售",type='text',v-model='add_obj.remark')
				.alert-button
					button(@click="is_add=false") 取消
					button(@click='add_roster()') 添加
	//article#roster(v-cloak)
		h5=(type==1?'白':'黑')+'名单'
			a.iconfont(@click='is_add=true') &#xe734;添加#{(type==1?'白':'黑')+'名单'}
		div.table
			ul.roster-list
				li(v-for="obj in roster_list")
					h4
						label {{obj.content}}
						span {{obj.createTime}}
					h3
						label &nbsp;
						a.iconfont.btn(@click="delete_confirm(obj)") &#xe645;
		.alert-layer(v-if='is_add')
			.alert-add.l-alert
				.close-btn(@click="is_add=false") ×
				if(type==1)
					h4 输入想接的电话
				if(type==-1)
					h4 输入不想接的电话
				ul
					li
						label 固话
						a.choose(v-bind:class="[add_obj.type==1?'choose-c':'']",@click='add_obj.type=1')
							i
						input.m-txt(placeholder='区号',type='text',v-model='add_obj.tel1',@focus="add_obj.type=1")
						b.text-line ——
						input.l-txt(placeholder="电话号码",type='text',v-model='add_obj.tel2',@focus="add_obj.type=1")

					li
						label 手机
						a.choose(v-bind:class="[add_obj.type==2?'choose-c':'']",@click='add_obj.type=2')
							i
						input.xl-txt(placeholder="11位手机号码",type='text',v-model='add_obj.tel3',@focus="add_obj.type=2")
					li
						label 其他
						a.choose(v-bind:class="[add_obj.type==3?'choose-c':'']",@click='add_obj.type=3')
							i
						input.xl-txt(placeholder="其他格式号码",type='text',v-model='add_obj.tel4',@focus="add_obj.type=3")
				//br
				//ul
					li
						label 备注
						input.xxl-txt(placeholder="请输入备注内容,如电话销售",type='text',v-model='add_obj.remark')
				button(@click='add_roster()') 确定添加
	script var roster_type=#{type}
	script(src='/js/roster.js?v=#{_v}')
