extends layout

block content
	article#type(v-cloak,v-bind:style="{height:('100%'),overflow:winwidth>500?'auto':''}")
		.type-open-box(v-bind:class="[!is_open?'':'type-open-box-active']")
			button.btn(@click="change_type_all()") 一键{{is_open?'关闭':'开启'}}防骚扰
			.light(v-if="is_open")
			.shield
			.shield.shield2
			.shield.shield3
		.type-btn-list(v-bind:style="{'-webkit-transform':is_show_list?'translateY('+(6.67-(9.4))+'rem) translateX(-1.875rem)':''}")
			div.close-box
				a.close-btn(@click="is_show_list=!is_show_list")
			ul
				li(v-for="obj in type_list")
					span(v-bind:style="{'background-image':'url(/img/type/'+obj.name+(obj.isWished?'c':'')+'.png)'}",@click="if(is_open)change_type(obj)")
						a(v-if="!obj.isWished")
					label {{obj.name}}
			a.type-thr(href="type_thr")
				label 拦截阈值设置

	//article#type(v-cloak)
		//h5 请选择要拦截的类型
		#type_header(v-bind:class="[is_open?'':'type_header_close']")
			.switch
				label 防骚扰拦截{{is_open?'已':'未'}}开启
				aside.btn(@click="change_type_all()",v-bind:class="[is_open?'open':'']")
					//label on&nbsp;&nbsp;&nbsp;&nbsp;off
					span
		section(v-if="is_open")
			//h6(v-if='type_list.length>0 && type_list[0].list.length==1')
			h6
			div
				ul
					li(v-for="obj in type_list")
						p
							label {{obj.name}}
							aside.btn(@click="change_type(obj)",v-bind:class="[!obj.isWished?'open':'']")
								span
					li.border-top.btn(onclick="location.href='type_thr'")
						label 拦截阀值设置
						a.select-more.iconfont(href='javascript:;') &#xe654;
				//h4.btn(v-if="obj.list.length>1",@click="open_or_close(obj)") {{obj.name}}
				//	i.iconfont {{obj.isopen?'&#xe600':'&#xe601'}}

				//ul(v-if="obj.isWished")
					li(v-for="obj2 in obj.list")
						p
							label {{obj2.name}}
							aside.btn(@click="change_type(obj)",v-bind:class="[obj2.isopen?'open':'']")
								span

	script(src="/js/type.js?v=#{_v}")

