extends layout

block content
	article#special(v-cloak)
		h5 请选择要拦截的类型
		section
			div
				h6
				ul
					li(v-for="obj in special_list")
						p
							label {{obj.name}}
							aside.btn(@click="change_type(obj)",v-bind:class="[obj.isopen?'open':'']")
								span
	script(src='/js/special.js?v=#{_v}')
