extends layout

block content
	article#datetime
		h5 拦截时间设置
		section
			h6
			div
				ul
					li
						p
							label 时间选择
						a.select-more.iconfont(href='',) &#xe654;
						select.right-select(v-model="type")
							option(value="1") 每天
							option(value="2") 工作日
							option(value="3") 休息日
							option(value="4") 自定义
					li(v-if="type==4")
						p
							label 自定义
						nav.week
							a(v-for="day,i in week_list",v-bind:class='week.indexOf(i+"")>-1?"c":""',@click="change_week(i)") {{day}}
					li
						p
							label 开始时间
						a.select-more.iconfont() &#xe654;
						input.right-select(type='time',v-model="start")
					li
						p
							label 结束时间
						a.select-more.iconfont() &#xe654;
						input.right-select(type='time',v-model="end")
			.form
				div
					button(@click='update_date') 举报来电
	script(src="/js/datetime.js")