extends layout

block content
	article#users.users(v-cloak)
		.user-card
			p
				img.head
			p
				strong {{user_tel}}
			p
				small 有效期截至2018-10-29
		nav.user-func
			h5 - 拦截特权 -
			ul
				li
					a(@click='change_func_index(0)')
						img(src="/img/func_txt_roster.png")
						h6 黑名单号码
				li
					a(@click='change_func_index(1)')
						img(src="/img/func_txt_inter.png")			
						h6 国际电话
				li
					a(@click='change_func_index(2)')
						img(src="/img/func_txt_400.png")
						h6 400电话			
				li
					a(@click='change_func_index(3)')
						img(src="/img/func_txt_other.png")		
						h6 省外电话
			hgroup(v-if='show_index!=-1') 
				i(v-bind:style="{left:(.3+show_index*.9)+'rem'}") &nbsp;
				h3(v-if='show_index==0') 黑名单号码拦截	
				h4(v-if='show_index==0') 将高频骚然电话加入黑名单，保证我的正常来电
				h3(v-if='show_index==1') 国际电话拦截	
				h4(v-if='show_index==1') 近80%的国际电话为电话诈骗，需要提高警惕
				h3(v-if='show_index==2') 400电话拦截	
				h4(v-if='show_index==2') 400电话为服务电话，却在日常中对我百般骚扰
				h3(v-if='show_index==3') 省外固话拦截	
				h4(v-if='show_index==3') 如果希望对外省电话进行拦截，可以开启此功能

		section
			div
				ul
					li
						p
							label 电话防骚扰
						aside.btn(@click="open_func()",v-bind:class="[is_open?'open':'']")
							span
					li
						p
							label 拦截记录
						a.select-more.iconfont(href='/users/note') &#xe654;
	script(src="/js/users.js?v=#{_v}")
