*{margin:0;padding:0;font-size:.13rem;color:#323232;}
.btn{cursor:pointer;-webkit-tap-highlight-color: transparent;}
body,html{height:100%;background:#FFF;}
li{list-style:none;}
.left{float:left;}
.right{float:right;}
b{font-weight:400;}
a{text-decoration:none;color:inherit;-webkit-tap-highlight-color: transparent;}
i{-webkit-appearance:none;}
input,button{-webkit-appearance:none;}
[v-cloak]{display:none;}

@font-face {
  font-family: 'iconfont';  /* project id 683815 */
  src: url('//at.alicdn.com/t/font_683815_jd0wrxnmau.eot');
  src: url('//at.alicdn.com/t/font_683815_jd0wrxnmau.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_683815_jd0wrxnmau.woff') format('woff'),
  url('//at.alicdn.com/t/font_683815_jd0wrxnmau.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_683815_jd0wrxnmau.svg#iconfont') format('svg');
}


.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

.border-top{border-top:.1rem solid #F5F5F5;}

#type_header{height:1.8rem;width:100%;background:url(/img/type_bg.jpg) no-repeat center/3.75rem;}
#type_thr_header{height:1rem;background:url(/img/type_thr_bg.png) no-repeat center/3.75rem;}
#type_thr_header p{margin-left:1rem;color:#FFF;font-size:.11rem;}
#type_thr_header p:first-child{padding-top:.2rem;}
.type_header_close{background-image:url(/img/type_bg_close.jpg)!important; }
.alert-layer{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:999;}
.alert-layer>div{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);background:#FFF;border-radius:.03rem;box-shadow:#CCC 0 0 .03rem;padding:.15rem;}
.alert-layer>div>*{line-height:.2rem;}
.alert-layer>div>p{margin-bottom:.2rem;margin-top:.1rem;}
.alert-layer>div>.close-btn{position:absolute;right:0;bottom:100%;width:.3rem;height:.3rem;font-size:.4rem;line-height:.3rem;color:#FFF;margin-bottom: .1rem;}
.alert-layer>div>h4{text-align:center;font-size:.16rem;}
.alert-layer>div>ul>li{height:.4rem;}
.alert-layer>div>ul>li>label{margin-right:.1rem;line-height: .375rem;}
.alert-layer>div button{height:.4rem;}
.alert-layer>div>button{width:100%;}

.choose{border:solid #333 .01rem;border-radius:.20rem;background:#FFF;width:.15rem;height:.15rem;float:left;margin-top:.1rem;margin-right:.1rem;}
.choose i{float:left;width:.15rem;height:.15rem;border:solid #FFF .02rem;background:#00CD66;border-radius: .1rem;-webkit-transform:scale(0);box-sizing: border-box;}
.choose-c i{-webkit-transform:scale(1);}
.m-alert{width:2rem;}
.l-alert{width:3rem;}
.alert-confirm,.alert-alert{text-align: center;}
.alert-confirm button{width:.75rem;margin:.05rem;}
.select-more{float:right;margin-right:.15rem;color:#CCC;}


input[type='text'],input[type='password']{border:none #CCC 0;border-bottom:#CCC solid .01rem;height:.3rem;outline:none;text-indent:.1rem;border-radius:0;}
button{color:#FFF;background:#00CD66;color:#FFF;border-width:0;border-style:solid;border-radius:.02rem;}
.m-txt{width:.5rem;}
.l-txt{width:1.1rem;}
.xl-txt{width:2rem;}
.xxl-txt{width:2.25rem;}
.xxxl-txt{width:2.5rem;}
.text-line{margin:0 .05rem;color:#CCC;}

.gray-bg{background:#999;}

.right-select{float:right;height:.4rem;text-align:right;-webkit-appearance:none;border:none 0 #000;position:absolute;background:rgba(0,0,0,0);right:0;padding-right:.35rem;direction:rtl;outline:none;-webkit-tap-highlight-color: transparent;}
.form .right-select{height:.5rem;line-height:.5rem;padding-right: .5rem;}
.week{float:right;margin-right:.2rem;font-weight:100;font-size:.1rem;}
.week a{float:left;width:.25rem;height:.25rem;border-radius:.25rem;background:#CCC;color:#FFF;text-align:center;line-height:.25rem;margin:.075rem .05rem;text-indent:0;box-shadow:#CCC 0 0 .05rem;}
.week .c{background:#00CD66;box-shadow:#00CD66 0 0 .05rem;}
.form{border-top:.01rem solid #CCC;}
.form>*{height:.5rem;line-height:.5rem;padding:0 .15rem;box-sizing: border-box;}
.form>p{border-bottom:.01rem solid #CCC;position:relative;}
.form>p>label{float:left;width: .7rem;}
.form button{width:100%;height:.4rem;margin-top:.1rem;}
.form input[type='text'],.form input[type='password']{border-bottom:none 0 #000;}
.form .choose{margin-top:.15rem;margin-left:.1rem;}
.form input[type='button']{position:absolute;background:rgba(0,0,0,0);border:none 0 #000;height:.5rem;right: .15rem;color:#00CD66;}

.menu{width: 100%;height: 100%;background: #F6F6F6;border-top:.01rem solid #F6F6F6;border-bottom:.01rem solid #F6F6F6;}
.menu>.notice-list ul{border-bottom:.5rem #F6F6F6 solid;}
.menu>.notice-list li{cursor:pointer;margin:.0rem .3rem;margin-top:.5rem;background:#FFF;/*border:solid #CCC .01rem;*/border-radius:.05rem;padding:.1rem;box-shadow:#CCC 0 0 .1rem;position:relative;}
.menu>.notice-list li:first-child{margin-top:.4.5rem;}
.menu>.notice-list>ul>li>*{font-weight:400;}
.menu>.notice-list li i{position:absolute;-webkit-transform: translateX(-50%);left:50%;font-style:normal;background:#CCC;color:#FFF;top: -.3rem;padding:.01rem .05rem;border-radius:.02rem;}
.menu>.notice-list li>h1{font-size:.18rem;font-weight:500;}
.menu>.notice-list li>time{font-size:.14rem;color:#AAA;}
.menu>.notice-list li>h5{line-height:.5rem;}
.menu>.notice-list li>p{margin-top:.1rem;padding-top:.1rem;border-top:.01rem solid #CCC;}
.menu>.notice-list li>p>a{margin-right:0;}

.menu>ul{position:fixed;bottom:0rem;width:100%;height:.5rem;border-top:.01rem solid #CCC;background:#FFF;}
.menu>ul>li{float:left;height:.5rem;line-height:.5rem;width:1.25rem;box-sizing: border-box;border-left:.01rem solid #CCC;text-align:center;}
.menu>ul>li:first-child{border-left-style:none;}
.menu>ul>li>ul{margin-bottom: .01rem;position:absolute;bottom:100%;text-align:center;border-style:none solid none solid;border-width:.01rem;border-color:#CCC;width:1.25rem;background:#FFF;}
.menu>ul>li:first-child>ul{border-left-style:none;}
.menu>ul>li>ul>li{height:.5rem;border-top:.01rem solid #CCC;}
article>h5{height:.4rem;line-height:.4rem;padding-left:.15rem;font-weight:200;}
article>h5>a{float:right;color:#00CD66;margin-right: .15rem;}
section h4{height:.4rem;line-height:.4rem;background:#EFEFEF;padding-left:.15rem;font-weight:400;border-style:none none solid none;border-color:#CCC;border-width:.01rem;}
section h6{border-top:.01rem solid #CCC;height:0;}
section h4 i{float:right;margin-right:.15rem;}
section ul li{height:.4rem;border-bottom:#EEE solid .01rem;line-height:.4rem;text-indent:.25rem;position:relative;}
section div:first-child h4{border-top:solid #CCC .01rem;}
section ul li p{float:left;}

section ul li aside,.switch aside{float:right;margin-right:.15rem;width:.4rem;height:.15rem;background:rgba(0,0,0,0);border-radius:.1rem;box-sizing:border-box;
  margin-top:.15rem;cursor:pointer;-webkit-tap-highlight-color: transparent;border:solid #BBB .01rem;}
section ul li aside span,.switch aside span{float:left;width:.2rem;height:.2rem;border-radius:.1rem;background:#FFF;box-shadow:#CCC 0 0 3px;background:#BBB;
  -webkit-transition:margin .5s;-webkit-transform:translateY(-.03rem);}
section ul li .open,.switch .open{/*background:#00CD66;*/border-color:#20DB1B;}
section ul li .open span,.switch .open span{margin-left:.2rem;box-shadow:#20DB1B 0 0 .01rem;background:#20DB1B;}
section ul li input[type='text'],section ul li input[type='password']{float:right;text-align:right;margin-right:.35rem;border-bottom:none 0 #000;height:.4rem;}

section ul li .slider-input[type="text"]{width:.4rem;background:#F5F5F5;margin-right:.15rem;text-align:center;height:.2rem;margin-top:.11rem;text-indent:0;}
.slider{position:absolute;width:2rem;height:.01rem;background:#AAA;right:.75rem;top:.2rem;}
.slider i{background:#AAA;width:.04rem;height:.04rem;border-radius:.3rem;float:right;-webkit-transform:translateY(-50%);}
.slider i:first-child{float:left;}
.slider a{width:.1rem;height:.1rem;border-radius:.3rem;float:right;-webkit-transform:translate(-50%,-50%);position:absolute;border:solid rgba(0,0,0,0) .1rem;}
.slider a i{background:#20DB1B;position:absolute;width:100%;height:100%;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);}
.switch>label{margin-top:.6rem;margin-right:.3rem;float:right;color:#FFF;}
.switch>aside{margin-top:0rem;width:.6rem;height:.2rem;border-radius:.02rem;position:absolute;top:1rem;right:.5rem;margin-right:0;border-color:#CCC;}
.switch>aside span{width:.28rem;height:.28rem;-webkit-transform: translateY(-.05rem);background:-webkit-linear-gradient( #E5F7FB,#99D5F5);border-radius:.02rem;}
.switch>aside>label{position:absolute;color:#FFF;line-height:.175rem;text-indent:.075rem;}
/*.switch>.open>label{text-align:right;text-indent:.1rem;}*/
.switch>.open span{background:-webkit-linear-gradient(#E5F7FB,#99D5F5);border-radius:.02rem;margin-left:.32rem;}
.switch>.open{border-color:#FFF;}
#roster h5 a{float:right;margin-right:.15rem;font-size:.13rem;color:#00CD66;}
.table ul{border-top:solid #CCC .01rem;}
.table li{height:.5rem;line-height:.15rem;border-bottom:solid #CCC .01rem;margin:0 .15rem;}
.table li>*{font-weight:400;text-indent: 0.1rem;}
.table li>h4{line-height:.3rem;text-indent: 0.1rem;}
.table li>h4>span{float:right;color:#AAA;}
.table li>h3>a{float:right;}
.table li>h3>a>span{color:#00CD66;margin-left:.1rem;}

.user-card{padding:.1rem .15rem;background:url(/img/center_bg.jpg) 0 0/3.75rem no-repeat;color:#FFF;height:2.5rem;box-sizing:border-box;}
.user-card>*{text-align:center;}
.user-card .head{width:.7rem;height:.7rem;border-radius:.5rem;border:solid #FFF .01rem;margin-top: .55rem;margin-bottom:.25rem;}
.user-card strong{font-size:.18rem;font-weight:300;color:#FFF;}
.user-card small{font-size:.12rem;font-weight:300;margin-top:.08rem;}
.user-func{padding-bottom:.1rem;border-bottom:.1rem solid #F5F5F5;}
.user-func h5{font-weight:300;color:#AAA;text-align:center;margin-top:.15rem;}
.user-func ul{height:.7rem;margin:.15rem 0;}
.user-func ul li{float:left;width:.7rem;margin:0 0 0 .2rem;text-align: center;}
.user-func ul li h6{font-size:.12rem;font-weight:300;}
.user-func img{width:.5rem;height:.5rem;}
.user-func hgroup{background:#EEE;margin:.15rem;border-radius:.05rem;padding:.15rem;position:relative;}
.user-func hgroup i{position:absolute;top:-.05rem;width:.1rem;height:.1rem;-webkit-transform:rotate(45deg);background:#EEE;}
.user-func hgroup h3{font-weight:300;font-size:.13rem;margin-bottom:.11rem;}
.user-func hgroup h4{color:#BBB;font-weight:300;font-size:.13rem;}
